::v-deep {
  .q-message-label {
    background-color: #302e2e;
    border-radius: 10px;
    width: 108px;
    margin: auto;
  }
  .q-message-text--sent {
    border-radius: 15px 4px 4px 15px;
  }
  .q-message-text--received {
    border-radius: 4px 15px 15px 4px;
  }
  .q-message-text--received:last-child {
    border-radius: 4px 15px 15px 15px;
  }
  .q-message-text--sent:last-child {
    border-radius: 15px 4px 15px 15px;
  }
  .q-message-text:last-child:before {
    display: none;
  }
  .q-message-text:last-child {
    min-height: auto;
  }
  .q-message-text {
    max-width: 270px;
  }
  .q-message-stamp {
    display: inline-block;
    min-width: 33px;
    font-size: 10px;
    .stamp {
      padding-right: 5px;
    }
  }
  .q-message-container.row.items-end.no-wrap.reverse {
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .attach-bg-icon {
        background-color: #289adb;
        border-radius: 25px;
        padding: 5px;
        margin-right: 5px;
        cursor: pointer;
      }
      .attach-message {
        flex-direction: row;
        align-items: flex-start;
      }
    }
    .title {
      margin: 2% auto 2% 0;
    }
  }
  .q-message-container.row.items-end.no-wrap {
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .attach-bg-icon {
        background-color: #289adb;
        border-radius: 25px;
        padding: 5px;
        margin: 0 5px 5px 0;
        cursor: pointer;
      }
      .attach-message {
        flex-direction: row;
        align-items: flex-start;
      }
    }
    .title {
      margin: 2% auto 2% 0;
    }
  }
}
.stamp-direction {
  display: flex;
  flex-direction: row !important;
}
.actions-bg-color {
  position: absolute;
  left: 50%;
  border-radius: 5%;
  background: #0277bd;
}
.url-card {
  .q-img {
    border-radius: 5px;
  }
  .title {
    align-items: flex-start;
  }
  a {
    margin-bottom: 5px;
    text-decoration: underline;
  }
  .url-card-border {
    display: flex;
    flex-direction: row !important;
    .border {
      width: 5px;
      height: 230px;
      background-color: white;
      margin-right: 5px;
      border-radius: 1px;
    }
  }
}
