.add-member-color {
  color: $primary;
}
.link-container {
  .link-input {
    width: 100%;
    margin-right: 20px;
  }
  .copy {
    padding: 0 5px 0 5px;
  }
}
.q-badge-position {
  top: 35px;
  &.q-badge {
    padding: 3px;
  }
}
.chat-owner {
  display: block;
  margin: auto 0;
  color: #1976d2 !important;
}
.btn-delete {
  width: 70%;
  margin: 0 auto;
}
