.header-bg-color {
  background-color: #121212;
  border-radius: 10px !important;
}
.header-bg-color.section {
  .q-item {
    min-height: 37px;
  }
}
.q-card {
  .q-card--dark {
    .q-dark {
      :nth-child(1) {
        border-radius: 0px !important;
      }
    }
  }
}
.setting-lable {
  color: $primary;
}

.q-avatar-padding {
  padding: 0 16px 16px;
}
.spacer {
  margin: 5px;
}
.round-avatar {
  border-radius: 25px;
}
.container {
  display: block;
  .sub-title {
    height: 20px;
    color: grey;
    font-size: 12px;
    margin-left: 0;
  }
}
.q-badge-position {
  top: 35px;
  &.q-badge {
    padding: 3px;
  }
}
